*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --high-text: rgb(0, 238, 255);
}
.bg-high{
    background-color: var(--high-text);
}

#srch{
    background-color: rebeccapurple;
    height:37px;
    border-radius:5px;
    border:1px solid var(--high-text);
    background:none;
}

.link-cl{
    text-decoration: none;
    color: whitesmoke;
}
.link-cl:hover{
    color: var(--high-text);
}

.active{
    font-weight: 800;
    color: var(--high-text);

}